@import "susy"; // http://susy.oddbird.net/

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$base-font-size : 16px;

$break          : 10;


body > .container {
  @include container($total-columns, $break);
  //@include susy-grid-background;
}

// Activate resizing; fill out the page as soon
// as there are 12 columns' worth of space.
@include at-breakpoint($break) {
  /*
  body > .container {
    //@include susy-grid-background;
  }
  */
}
