// Palette
$white-grey: #fafafa;
$whiter-grey: #fefefe;
$black-grey: #222;
$dull-red: #9aa;

// Semantic colours
$body-bg: $whiter-grey;
$text-color: $black-grey;
$primary-color: $dull-red;


// Base
@import "compass/css3/images";

body {
  color: $text-color;
  @include background(linear-gradient(top center, darken($body-bg, 3%), $body-bg));
  background-color: $body-bg;
  background-repeat: no-repeat;
  min-height: 100%;
}

a {
  color: $text-color;
}


// Modules

.copy {
  a:link, a:visited {
    color: $primary-color;
  }
  a:hover, a:active {
    color: lighten($primary-color, 10%);
  }
}
