<h1>About SWAG</h1>

<p>Do you dream about the possibilities of API mashups? Do you find yourself thinking in Haskell sometimes? Do you hide in the hotel and write web apps while on holiday? Then you've come to the right place!</p>

<p>We're a group of Sydney-based web application engineers who meet to talk about the latest trends in PHP, Ruby, Clojure, JavaScript, CSS, HTML, MySQL, RESTful APIs, scalability, HA and all the other tech that makes large-scale SaaS apps tick.</p>
