
<article class="event">
  <hgroup>
    <h1>Security: Protect your Web Apps</h1>
    <time>Wednesday, 13 March 2013 at 6:30pm</time>
    <address>Location TBA</address>
  </hgroup>

  <p>We've all seen it in the movies, criminals weedling their way into some computer system and creating havoc. But what's the real story? How do the sites we use everyday protect us from having our data stolen?</p>
  <p>Find out why should you care about web security, what mistakes you could be making right now, and leave the meetup knowing how safe you really are.</p>

  <section class="speakers">
    <h1>Speakers</h1>
    <article class="talk">
      <div class="photo" style="background-image:url('/images/headshot2.jpg');"></div>
      <hgroup>
        <h1>Guided Spinlocks for Fun and Profit</h4>
        <address>Johnny Come Lately</address>
      </hgroup>
      <p>
        When a thread arrives, it atomically obtains and then increments the queue ticket. It then atomically compares its ticket with the dequeue ticket. If they are the same, the thread is permitted to enter the critical section.
      </p>
    </article>
    <article class="talk">
      <div class="photo" style="background-image:url('/images/headshot3.jpg');"></div>
      <hgroup>
        <h1>Rails' Key under the Mat</h4>
        <address>Johnny Come Lately</address>
      </hgroup>
      <p>
        Open-source projects all too commonly come with too many batteries included. This talk
        will show you what to look out for when grabbing an open source Rails app off GitHub for
        your own use, and what you risk if you don't.
      </p>
    </article>
  </section>

  <aside class="addendum">
    <p>We're still looking for a couple more speakers, so if you're keen to present on the subject of security then don't hesitate to send us a message.</p>
    <p>The full list of speakers will be announced closer to the night.</p>
  </aside>
</article>




