@import "compass/utilities/lists";

.navigation {
  @include horizontal-list-container;
  overflow: hidden;

  ul, li {
    float: left;
    position: relative;
  }
  ul {
    padding-left: 1em;
    left: 50%;
  }
  li {
    right: 50%;
    padding: 0 1.5em 0 0;
    font-size: 1.2em;
  }
}
